@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes fade-in {
  from { opacity: 0 }
}

::view-transition-group(.tab-bar) {
  animation-duration: 300ms;
}

::view-transition-new(.tab-bar):only-child {
  animation-name: fade-in;
}

::view-transition-old(.tab-bar):only-child {
  animation-name: fade-out;
}