---
import { Picture } from "astro:assets";

import FAQ from "@/components/faq";
import Layout from "@/layouts/main.astro";

import faqConfig from "@/configs/faq";

import featureHero from "@/assets/feature.png";
---

<Layout>
  <div class="w-screen relative overflow-hidden">
    <Picture src={featureHero} alt="Spay" class="object-cover w-full h-full md:h-[calc(100vh-4rem)]" loading="eager" />
    <div class="absolute w-full bottom-6 inset-x-0 p-12 text-white space-y-8">
      <p class="font-bold text-4xl text-white text-center">FAQ</p>
      <a
        href="https://shopee.ph/m/shopeepay"
        class="bg-primary text-white px-8 py-4 rounded-full block text-center hover:bg-opacity-80 w-48 transition-colors duration-300 mx-auto"
      >
        Get Started
      </a>
    </div>
  </div>
  <div class="container mx-auto md:p-32 sm:p-16 p-4">
    <FAQ client:visible items={faqConfig} />
  </div>
</Layout>
