---
import { SEO } from "koji";
import { ViewTransitions } from "astro:transitions";

import { getLangFromUrl } from "@/i18n/utils";

import Navbar from "@/components/navbar.astro";
import Footer from "@/components/footer.astro";

import footer from "@/configs/footer";
import menu from "@/configs/menus";
import seoConfig from "@/configs/seo";

const lang = getLangFromUrl(Astro.url);

interface Props {
  title?: string;
}

const { title } = Astro.props;
const seoProps = { ...seoConfig, title };
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <ViewTransitions />
    <SEO {...seoProps} />
  </head>
  <body>
    <Navbar menu={menu} />
    <slot />
    <Footer footer={footer} />
  </body>
</html>
