---
import Base from "./base.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<Base title={title}>
  <main class="mt-16 selection:bg-primary selection:text-white">
    <slot />
  </main>
</Base>
