---
import { getLangFromUrl, useTranslatedPath } from "../i18n/utils";
import { languages } from "../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const pathname = new URL(Astro.request.url).pathname;
const path = pathname.replace(`/${lang}`, "");
---

<ul class="space-y-4">
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={translatePath(path, lang)}>{label}</a>
      </li>
    ))
  }
</ul>
